@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  overflow: visible !important;
  color: #000;
  font-weight: 400;
  max-width: 608px;
  display: block;
  margin: 0 auto !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-family: "aa_higherup";
  font-size: 65px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  /* 72.072px */
  letter-spacing: -0.649px;
  margin-bottom: 0;
  color: #e11f1f;
  position: relative;
  z-index: 1;
}

h1 span {
  font-size: 110px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -1.44px;
}

h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 98%;
  /* 34.3px */
  letter-spacing: -0.35px;
  text-transform: uppercase;
  text-align: center;
}

h2 span {
  color: #36a312;
}

input[type='text'] {
  width: 100%;
  color: #333;
  height: 55px;
  border: solid 1px #cccccc;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

button,
input[type='submit'] {
  border-radius: 130.342px;
  background: linear-gradient(189deg, #ff0707 0%, #950000 100%);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.33), inset 0 0 8px 0 rgba(0, 0, 0, 0.58);
  padding: 18px 57px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all .3s;
}

button {
  display: block;
  margin: 0 auto;
}

button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

input[type='submit'] {
  width: 100%;
}

section {
  padding: 25px 0;
  position: relative;
}

img {
  max-width: 100%;
}

.price_top {
  font-weight: bold;
  color: #ED470B;
  font-size: 30px;
}

/*boxmodal*/
.box-modal {
  font-family: "Manrope", sans-serif;
  position: relative;
  text-align: center;
  line-height: 1.3;
  background: #F0F0F0;
  border-radius: 10px;
  color: #000;
  width: 100%;
}

.box-modal_close {
  position: absolute;
  right: 0px;
  top: -40px;
  font-size: 60px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  transform: rotate(45deg);
}

.box-modal .deskr {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.box-modal .date {
  font-size: 13px;
  margin-bottom: 18px;
  font-weight: 700;
}

.box-modal .date span {
  color: #ED470B;
}

.box-modal .price {
  font-size: 12px;
  margin-bottom: 14px;
}

.box-modal del {
  font-weight: 700;
}

.box-modal .price span {
  border-radius: 100px;
  background: #ED470B;
  padding: 2px 15px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
}

.box-modal .desklaimer {
  margin-top: 10px;
}

.box-modal .desklaimer .info {
  font-size: 9px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.box-modal .desklaimer .info img {
  margin-right: 5px;
}

.box-modal .desklaimer h4 {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.box-modal .desklaimer .ps {
  margin-top: 20px;
  font-size: 10px;
}

.accordion .accordion_item {
  margin-bottom: 1px;
  position: relative;
  padding: 0;
}

.accordion .title_block {
  cursor: pointer;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #F3F3F3;
  padding: 20px;
  -webkit-transition: all .2s linear 0;
  -webkit-transition-delay: .2s 0;
  transition: all .2s linear 0;
  margin: 0;
  margin-bottom: 9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.accordion .title_block .num {
  border-radius: 10px;
  background: #ED470B;
  padding: 4px 10px 3px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  width: max-content;
}

.accordion .title_block div:last-child {
  padding-left: 24px;
  width: 85%;
}

.accordion .title_block:before {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  right: 20px;
  top: 30px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg);
}

.accordion .active_block .title_block:before {
  transform: rotate(135deg);
}

.accordion .active_block .title_block {
  border: none;
}

.accordion .info {
  display: none;
  padding: 10px 40px 15px 80px;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
}

.accordion .info p {
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  margin: 0;
}

.getting-started {
  display: inline-block;
  margin: 5px 0;
}

.getting-started:after {
  content: "";
  display: block;
  clear: both
}

.getting-started>div {
  float: left;
  text-align: center;
  margin-left: 10px;
  line-height: 1;
}

.s4-d-img {
  display: none;
}

.getting-started>div:first-child {
  margin-left: 0
}

.getting-started .dial {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
  background: #171717;
  border-radius: 11px;
  padding: 5px 20px;
}

.getting-started .text-timer {
  font-size: 11px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev,
.slick-next {
  content: '';
  width: 41px;
  height: 41px;
  bottom: -70px;
  top: auto;
  transform: none;
  box-shadow: none !important;
}

.s1-header-timer,
.s1-header-button {
  display: none;
}

.slick-prev {
  background: url('../images/left.png') no-repeat;
  left: 35%;
  background-size: 100% 100%;
}

.slick-next {
  background: url('../images/right.png') no-repeat;
  right: 35%;
  background-size: 100% 100%;
}

.s9-new .slick-prev {
  background: url('../images/nl.png') no-repeat;
  right: 50px;
  background-size: 100% 100%;
  margin: 0 50px 0 auto;
  width: 63px;
  height: 60px;
}

.s9-new .slick-next {
  background: url('../images/nr.png') no-repeat;
  right: 15px;
  background-size: 100% 100%;
  margin: 0 15px 0 auto;
  width: 60px;
  height: 60px;
}

.slick-prev:before {
  content: '';
}

.slick-next:before {
  content: '';
}

.rbn span {
  background: linear-gradient(176deg, #0e9211 0%, #41a743 100%);
  box-shadow: none !important;
  color: #fff !important;
}

.rbn p {
  color: #000 !important;
}

.timer-t {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5px auto;
  width: 138px;
  height: 34px;
}

#menu {
  width: 100%;
  background-image: url(../images/footer-fon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 5px 0 15px 0;
}

.default {
  opacity: 0;
  transform: translateY(150px);
  transition: all .5s ease;
}

.default.active {
  transform: translateY(0px);
  opacity: 1;
}

#menu button {
  display: block;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.items {
  display: flex;
  justify-content: space-between;
}

header {
  background: #F3F3F3;
  padding: 15px 0;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 16px */
  letter-spacing: 4.9px;
  text-transform: uppercase;
}

.s1 {
  background-image: url('../images/newFon.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px 0 0 0;
  text-align: center;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

.s1 .items div {
  border-radius: 100px;
  padding: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 136%;
  /* 17.68px */
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin: 0 2.5px;
}

.s1__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}

.s1-title {
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: 'aa_higherup';
  color: #e11f1f;
}

.s3-in-1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 75%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow: 0 14px 19px 0 rgba(0, 0, 0, 0.25), inset 0 0 13px 0 rgba(255, 255, 255, 0.6), 0 -5px 19px 0 rgba(0, 0, 0, 0.25);
  background: #f00;
  transform: rotate(-2deg);
  border-radius: 16px;
  padding: 8px;
  width: 126px;
  height: 31px;
  margin-top: -14px;
}

.s1-subTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 132%;
  text-align: center;
  color: #111;
  margin-top: -10px;
}

.title-img {
  position: absolute;
  top: 53px;
  left: 0;
}

.priceBlock {
  position: absolute;
  top: 58vw;

  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.s12-new {
  padding: 50px 0 0 0;
}

.s12-new-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.s12-new-elements-box {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.s12-new-elements-item-desc {
  display: none;
}

.s12-new-elements-item {
  width: 201px;
  height: 181px;

  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.s12-new-elements-item:nth-child(1) {
  background-image: url(../images/phoneFon-1.png);
}

.s12-new-elements-item:nth-child(2) {
  background-image: url(../images/phoneFon-2.webp);
}

.s12-new-elements-item:nth-child(3) {
  background-image: url(../images/phoneFon-3.webp);
  margin-top: 10px;
}

.s12-new-elements-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.s12-new-elements-item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
  color: #fff;
}

.smallTitle {
  font-size: 16px !important;
}

.plus {
  width: 60px;
  height: 60px;
  margin-bottom: -12px;
  position: absolute;
}

.s12-6-m {
  width: 243px;
  height: 40px;
  margin: 15px auto 0 auto;
  display: block;
}

.tabletBlock {
  padding: 50px 10px 20px 10px;

  margin-bottom: -50px;
  position: relative;
  z-index: 9;
}

.tablet-img {
  width: 255px;
  height: 219px;
  top: -65%;
  object-fit: contain;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabletBlock h2 {
  padding-bottom: 120px;
}

.tabletBlockcontent {
  background: linear-gradient(180deg, #f90404 0%, #9c0303 100%);
  border-radius: 33px;
  max-width: 379px;
  margin: 50px auto 0 auto;
  width: 100%;
  min-height: 257px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabletBlock-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tabletBlock-items-tem {
  display: flex;
  align-items: center;

  gap: 23px;
}

.tabletBlock-items-tem img {
  width: 50px;
  height: 50px;
}

.tabletBlock-items-tem p {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: #fff;
}

.top-line {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  max-width: 366px;
  height: 39px;
  background: #fff;
  border-radius: 20px;
  box-shadow: inset 0 0 16px 0 rgba(255, 255, 255, 0.25), 6px 0 20px 0 rgba(0, 0, 0, 0.36);
}

.top-line-wrapper {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-line-left {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-right: auto;
  border-radius: 20px;
  width: 160px;
  height: 39px;
  box-shadow: inset 0 0 16px 0 rgba(255, 255, 255, 0.25), 6px 0 20px 0 rgba(0, 0, 0, 0.36);
  background: linear-gradient(180deg, #30b005 0%, #114200 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-line-right {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  padding-right: 10px;
  color: #ff4f14;
}

@media(max-width: 425px) {
  .s12-new-elements-item {
    width: 160px;
    height: 160px;
  }

  .s12-new-elements-item h3 {
    font-size: 16px;
  }

  .s12-new-elements-item p {
    font-size: 12px;
  }

  .smallTitle {
    font-size: 14px !important;
  }

  .top-line {
    display: flex;
    gap: 5px;
    top: 10px;
    width: 100%;
    max-width: 330px;
    height: 35px;
  }

  .top-line-left {
    font-size: 10px;
    line-height: 133%;
    width: 150px;
    height: 35px;

  }

  .top-line-right {
    font-size: 10px;
  }

}

@media(max-width: 380px) {
  .priceBlock {
    transform: scale(0.8);
    right: -10px;
  }

  .s12-6-m {
    width: 200px;
    height: 40px;
    object-fit: contain;
    margin: 15px auto 0 auto;
    display: block;
  }

  .plus {
    width: 50px;
    height: 50px;
    margin-bottom: -6px;
    position: absolute;
  }

  .s12-new-elements-item {
    width: 140px;
    height: 140px;
  }

  .s12-new-elements-item h3 {
    font-size: 13px;
  }

  .s12-new-elements-item p {
    font-size: 10px;
  }

  .smallTitle {
    font-size: 11px !important;
  }
}

.priceBlock-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/price.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 95px;
  padding-left: 20px;
}

.priceBlock-top h3 {
  font-weight: 800;
  font-size: 13px;
  line-height: 123%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 30px #fff;
  transform: rotate(9deg);
}

.priceBlock-top h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: rotate(9deg);
}

.priceBlock h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 61%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  text-shadow: 0 0 30px #fff;
  transform: rotate(9deg);
  margin: 0;
}

.priceBlock-bottom {
  color: #000;

  border-radius: 10px;
  padding: 3px 6px;
  width: 130px;
  height: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.46);
  background: #fff;

  position: relative;
  z-index: 3;
  margin-left: -15px;
  padding-left: 15px;
}



.priceBlock-top p,
.priceBlock-bottom p {
  font-weight: 700;
  font-size: 36px;
  line-height: 48%;
  padding-top: 5px;
  text-align: center;
}

.s1 .items {
  align-items: center;
  justify-content: center;
  margin-bottom: -150px;
}

.s1 .items div:first-child {
  background: #ED470B;
  color: #fff;
}

.s1 .items div:last-child {
  border: 1px solid #ED470B;
  color: #000;
}

.s1 .items+p {
  font-size: 15px;
  margin-bottom: 40px;
}

.s1 h1+p:not(.th h1+p) {
  margin-bottom: 345px;
  color: #e11f1f;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 19.25px */
  letter-spacing: -0.25px;
  margin-top: -15px;
}

.s1 .bonus {
  background: rgba(0, 0, 0, 0.60);
  backdrop-filter: blur(5px);
  padding: 0 50px;
  margin-top: 12px;
  color: #fff;
  position: relative;
  z-index: 9;
}

.s1 .bonus img {
  width: 25%;
}

.s1 .bonus p {
  width: 75%;
  font-size: 12px;
  text-align: left;
}

.s1 .bonus p span {
  color: #FFAB1A;
  font-weight: 700;
}

.s1 .img {
  position: absolute;
  bottom: -7%;
  width: 93%;
  z-index: 2;
  left: 0;
  right: 0;
}

.s1 .info1,
.s1 .info2,
.s1 .info3 {
  position: absolute;
  text-align: left;
}

.s1 button {
  position: relative;
  z-index: 9;
}

.s1 .info1,
.s1 .info2 {
  border-radius: 10px;
  border: 1px solid #ED470B;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(5px);
}

.s1 .info1 {
  font-size: 15px;
  z-index: 1;
  top: 38.5%;
  left: 15px;
  line-height: 136%;
  padding: 20px 27px 31px 27px;
}

.s1 .info2 {
  z-index: 9;
  top: 70%;
  right: 20px;
  padding: 13px 20px 5px;
}

.s1 .info2 strong {
  color: #ED470B;
}

.s1 .info2 img {
  margin-bottom: 6px;
  width: 15px;
}

.s1 .info3 {
  background: url('../images/price_bg.png') no-repeat;
  background-size: 100% 100%;
  width: 132.007px;
  height: 78.007px;
  transform: rotate(-15deg);
  top: 56%;
  left: 5px;
  z-index: 9;
  padding: 22px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.179px;
}

.info4 {
  padding-top: 2rem;
  color: #ED470B;
  text-align: center;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 14px;
}

.s1 .info3 strong {
  font-size: 32px;
  font-weight: 700;
}

.s2 {
  background: #fff;
  position: relative;
  z-index: 9;
  margin-top: -7px;
}

.s2 h2 {
  margin-bottom: 35px;
  font-size: 30px;
}

.s2 .item {
  padding: 40px 50px 40px 50px;
  border-radius: 50px;
  background: #F3F3F3;
  position: relative;
  margin-bottom: 15px;
}

.s2 .item img {
  position: absolute;
  bottom: 0;
  max-width: 200px;
}

.s2 .item p {
  width: 50%;
}

.s2 .it3 p,
.s2 .it5 p,
.s2 .it6 p {
  margin-left: 50%;
}

.s2 .it1 img {
  width: 50%;
  right: 0;
}

.s2 .it3 img {
  width: 40%;
  left: 5%;
  bottom: 15px;
}

.s2 .it4 img {
  width: 55%;
  right: 0;
}

.s2 .it5 img {
  width: 60%;
  left: 3%;
}

.s2 .it2 img {
  width: 52%;
  right: 27px;
}

.s2 .it5 p {
  width: 45%;
}

.s2 .it5 {
  padding-bottom: 40px;
}

.s2 .it6 img {
  width: 44%;
  left: 24px;
}

.s3 {
  background: url('../images/s3_bg.webp') no-repeat;
  background-size: 100%;
  background-position: right bottom;
}

.s3 h2 {
  margin-bottom: 42px;
}

.s3 .content {
  width: 55%;
}

.s3 .items {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.80);
  background: rgba(243, 243, 243, 0.80);
  backdrop-filter: blur(5px);
  margin-bottom: 8px;
  padding: 12px 20px;
  align-items: center;
}


.s3 .items:nth-child(1) img {
  width: 24px;
}


.s3 .items img {
  width: 22px;
  height: 27px;
  object-fit: contain;
}

.s3 .items p {
  width: 80%;
}

.s3 .info {
  border-radius: 70px;
  border: 1px solid #ED470B;
  background: #EDEDED;
  padding: 25px;
  align-items: flex-start;
}

.s3 .info img {
  width: 15%;
}

.s3 .info div {
  width: 80%;
}

.s3 .info div h3 {
  color: #e11f1f;
  margin-bottom: 18px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 104%;
  /* 20.8px */
  text-transform: uppercase;
}

.s3 .info div p {
  width: 100%;
}

.s4 {
  padding: 60px 0;
  border-radius: 100px;
  background: url('../images/s4_bg.png') no-repeat;
  background-size: 100% 100%;
  padding-bottom: 125px;
}

.s4 .container {
  padding: 0 30px;
}

.s4 h2 {
  color: #fff;
  margin-bottom: 18px;
}

.s4 h2+p {
  color: #fff;
}

.s4 h2+p span {
  font-size: 20px;
  font-weight: 700;
}

.s4 .info {
  border-radius: 30px;
  background: #FFF;
  padding: 40px;
  margin-top: 25px;
}

.s4 ul {
  list-style: disc;
  padding-left: 15px;
}

.s4 img {
  margin-top: 10px;
  padding-bottom: 20px;
  position: relative;
  z-index: 9;
}

.s5 {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  margin-top: -130px;
  font-size: 12px;
  position: relative;
  z-index: 10;
}

.s5 {
  padding: 40px 0;
}

.s5 .container {
  padding: 0 50px;
}

.s5 p span {
  color: #36a312;
}

.s6 {
  padding: 50px 0;
}

.s6 h2 {
  margin-bottom: 40px;
}

.s6 .items {
  border-radius: 100px;
  border: 0.5px solid #D3D3D3;
  background: #FFF;
  margin-bottom: 12px;
  align-items: center;
  padding: 20px;
}

.s6 .items img {
  width: 15%;
}

.s6 .items p {
  width: 80%;
}

.s7 .items {
  margin-bottom: 11px;
  border-radius: 20px;
  background: #F9F9F9;
  align-items: flex-start;
  padding: 20px;
}

.s7 .items div {
  width: 30%;
}

.s7 .items div img {
  border-radius: 10px;
}

.s7 .items p {
  width: 65%;
}

.s7 .items div div {
  margin-top: 7px;
  border-radius: 10px;
  background: #ED470B;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 2px 0;
  width: 100%;
}

.s7 .hidd {
  display: none;
}

.s8 {
  border-radius: 50px;
  background: linear-gradient(176deg, #ff4000 0%, #ff8400 100%);
}

.star-r,
.star-l {
  width: 131px;
  height: 131px;
  object-fit: contain;
  position: absolute;
}

.s10 {
  overflow: hidden;
}

.star-r {
  right: -35px;
  top: 0;
}

.star-l {
  left: -40px;
  bottom: -40px;
  width: 150px;
  height: 150px;
}

.s8 h2 {
  color: #fff;
  margin-bottom: 40px;
}

.s8 .items {
  border-radius: 40px;
  background: #FFF;
  margin-bottom: 15px;
  padding: 25px;
  align-items: center;
  gap: 2vw;
}

.s8 .items img {
  width: 14vw;
}

.s8 .items p {
  width: 90%;
  font-size: 2.5vw;
}

.s9 {
  padding-bottom: 70px;
}

.s9 h2 {
  margin-bottom: 30px;
}

.s10 {
  background: url('../images/s10_bg.png') no-repeat;
  background-size: 92%;
  padding-bottom: 150px;
  background-position: center bottom 200%;
}

.s10 h2 {
  margin-bottom: 40px;
}

.s10 .content {
  border-radius: 50px;
  padding: 0 30px 30px 30px;
  text-align: center;
}

.s10 .info {
  border-radius: 50px;
  border: 1px solid #FFF;
  background: linear-gradient(179deg, #f00 0%, #4c0000 100%);
  backdrop-filter: blur(5px);
  padding: 25px;
  margin-top: 22px;
}

.s10 .info p {
  color: #fff;
}

.s10 .info span {
  color: #ED470B;
}

.s11 {
  padding: 40px 0 25px 0;
}

.s11 h2 {
  margin-bottom: 25px;
}

.s12 {
  position: relative;
  overflow: hidden;
}

.s12 h2 {
  margin-bottom: 45px;
}

.s12::after,
.s12::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100px;
  top: 60px;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
}

.s12::after {
  background-image: url(../images/s1-l.png);
  left: 0;
}

.s12::before {
  background-image: url(../images/s1-r.png);
  right: 0;
}

.s3 {
  position: relative;
  overflow: hidden;
}

.s2 {
  position: relative;
  overflow: hidden;
  padding: 25px 0 60px 0;
}

.s2-topS {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 21px 43px #fff;
  z-index: 4;
}

.s2 h2 {
  position: relative;
  z-index: 10;
}

.s2-bottomS {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  box-shadow: 0 0 21px 43px #fff;
  z-index: 4;
}

.s3::after,
.s3::before,
.s2::after,
.s2::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100px;
  top: 60px;
  z-index: 3;
  background-repeat: repeat-y;
  background-size: contain;
}

.s3::after,
.s3::before {
  top: 0px;
}

.s3 h2 {
  position: relative;
  z-index: 10;
}

.s3 {
  padding: 70px 0 !important;
}



.s12 .items {
  border-radius: 50px;
  background: #F2F2F2;
  margin-bottom: 15px;
  padding: 20px 30px;
  position: relative;
  width: 85%;
  margin-bottom: 25px;
}

.s12 .items img {
  width: 193px;
  height: 172px;
  position: absolute;
  right: -20%;
}

.redBlock {
  border-radius: 20px;
  max-width: 398px;
  width: 100%;
  margin: 0 auto;
  height: 289px;
  padding: 25px;
  position: relative;
  background-image: url(../images/bonusFon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.redBlock-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 112%;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.redBlock-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  margin: 10px auto 10px 0;
  text-transform: uppercase;
  text-align: center;
  color: #f00;
  border-radius: 12px;
  width: 212px;
  white-space: nowrap;
  padding: 0 15px;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 9;
  cursor: pointer;
  height: 44px;
  box-shadow: inset 0 0 27px 0 rgba(0, 0, 0, 0.31);
  background: #fff;
  display: flex;
  align-items: center;
}

.redBlock-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 136%;
  color: #fff;
}

.gift-1 {
  width: 40px;
  transform: rotate(8deg);
  position: absolute;
  top: 40px;
  right: 35%;
}

.gift-2 {
  width: 54px;
  transform: rotate(-22deg);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.file {
  width: 20px;

}



.bnt {
  position: absolute;
  top: -45px;
  right: -25px;
  width: 135px;
  height: 135px;
  object-fit: contain;
}

.s12 .items div .tit {
  font-weight: 800;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #e11f1f;
  margin-bottom: 10px;
}

.s13 {
  background-image: url(../images/contact.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
}

.s13 h2 {
  color: #fff;
  margin-bottom: 40px;
}

.s13 .items {
  border-radius: 40px;
  background: #FFF;
  margin-bottom: 15px;
  padding: 25px;
  align-items: flex-start;
}

.s13 .items img {
  width: 25px;
}

.s13 .items p {
  width: 90%;
}

.foot_text {
  color: #60F166;
  font-size: 20px;
}




footer {
  background: #000;
  padding: 15px 10px 75px 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3;
}

footer a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  display: block;
}

footer p {
  margin-bottom: 20px;
  font-size: 15px;
  margin-top: 10px;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {

  .s3 .content {
    width: 60%;
  }

  .s10 {
    padding-bottom: 2rem;
  }

  .s1 .items div {
    padding: 7px 5px;
    font-size: 11px;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.351px;
  }

  h1 span {
    font-size: 6rem;

  }

  .s1 h1+p:not(.th h1+p) {
    margin-bottom: 300px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 380px) {


  .s1 h1+p:not(.th h1+p) {
    margin-bottom: 280px;
  }

  .s12 .items div {
    width: 60%;
  }

  .s12 .items div .tit {
    margin-bottom: 15px;
  }

}

@media (max-width: 390px) {
  .s1 .items {
    margin-bottom: 50px;
  }
}

.timer {
  display: flex;

}

.fixed-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 1rem;
}

.fixed-timer .timer {
  margin: 0;
}

.fixed-timer .hours,
.fixed-timer .minutes,
.fixed-timer .seconds {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 3rem;
  line-height: 117%;
  text-align: center;
  color: #141414;
  border: none !important;
  box-shadow: 0 4px 21px 0 rgba(0, 0, 0, 0.81);
  border-radius: 15rem;
  width: 6.7rem;
  height: 3.8rem;
  border: solid 1px;
}

.fixed-timer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 125%;
  color: #fff;
}

.timer {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.hours-wrap p,
.minutes-wrap p,
.seconds-wrap p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 77%;
  text-align: center;
  color: #fff;
  margin-top: 1.2rem;
}

.hours,
.minutes,
.seconds {
  background-color: #ffff;
  border-radius: 1rem;
  width: 10.6rem;
  height: 7.2rem;
  font-family: 'Steelfish';
  font-weight: 400;
  font-size: 5rem;
  line-height: 92%;
  text-align: center;
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media(max-width: 370px) {
  .top-line {
    display: flex;
    gap: 5px;
    top: 10px;
    width: 100%;
    max-width: 300px;
    height: 35px;
    gap: 0;
  }

  .top-line-left {
    font-size: 9px;
    line-height: 133%;
    width: 130px;
    height: 35px;

  }

  .top-line-right {
    font-size: 9px;
    padding-right: 15px;
  }
}





.s10 {
  background: url(../images/titleF.png) no-repeat;
  background-size: contain;
  padding-bottom: 49px;
  background-position: center bottom;
}

.s10 .content {
  backdrop-filter: blur(0px);
}

.s3 {
  background: url(../images/s3_bdn.webp) no-repeat;
  background-size: contain;
  background-position: right bottom;
}

.header-inf {
  padding-top: 0;
}

.header-inf-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-inf-inner {
  display: flex;
  align-items: center;
  gap: 7px;
}

.s1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 200vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.s1.a-test {
  background-image: url(../images/fnn.png);
}

.s1.b-test {
  background-image: url(../images/fnn-2.png);
}

.m6 {
  position: absolute;
  bottom: 31%;
  font-weight: 700;
  display: flex;
  font-size: 22px !important;
  right: 10px;
  align-items: center;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ed470b;
  border: 1px solid #ed470b;
  border-radius: 16px;
  width: 138px;
  height: 68px;
  backdrop-filter: blur(14.300000190734863px);
  background: rgba(255, 255, 255, 0.6);
}

.s12 .items {
  align-items: center;
}

@media(max-width: 410px) {
  .s1 {
    min-height: 710px;
  }
}

@media(max-width: 380px) {
  .s1 {
    min-height: 650px;
  }

  .m6 {
    font-size: 20px;
    width: 120px;
    height: 60px;
    border-radius: 12px;
  }

  .s1-title {
    font-size: 75px;
  }

  .s1-subTitle {
    font-size: 22px;
  }

  .s3-in-1 {
    width: 112px;
    height: 27px;
    font-size: 18px;
  }
}


@media(max-width: 350px) {
  .s1 {
    min-height: 630px;
  }
}

.redBlock::before {
  background-image: url(../images/fon-el-min.png);
}

.animRing {

  position: absolute;
  top: 0px;
  right: -10px;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 87%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  width: 88px;
  height: 88px;

}

.a-text,
.b-test {
  opacity: 0;
}

.animRing p,
.animRing img {
  width: 88px;
  height: 88px;
  position: absolute;
  top: -15px;
  right: -28px;
}

.animRing p {
  color: #000;
  z-index: 5;
  line-height: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





.submit-btn {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.33), inset 0 0 8px 0 rgba(0, 0, 0, 0.58);
  background: linear-gradient(176deg, #ff4000 0%, #ff5e00 100%);
  white-space: nowrap;
  font-size: 25px;
  background-size: 100% !important;
  background-repeat: no-repeat;
  border-radius: 130px;
  width: 310px;
  background-size: 100% 100% !important;
  height: 75px;
  font-weight: 700;
  line-height: 132%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: .2s;
  position: relative;
  padding: 0 34px 0 0;
}

.button-ring {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  height: 88px;

  position: absolute;

  top: -7px;
  right: -29px;
}

.button-ring::before {
  content: "";
  display: block;
  background-image: url(../images/a-im.png);
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  height: 88px;

  animation: spin 15s linear infinite;

  position: absolute;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-ring p {
  position: relative;
  z-index: 9;
  font-weight: 500;
  font-size: 24px;
  line-height: 88%;
  text-transform: uppercase;
  text-align: center;
  color: #1d1d1d;
}

.button-ring span {
  color: #02b43e;
}

.footer-btn {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.33), inset 0 0 8px 0 rgba(0, 0, 0, 0.58);
  background: linear-gradient(176deg, #ff4000 0%, #ff5e00 100%);
  border-radius: 130px;
  width: 267px;
  background-size: 100% 100% !important;
  height: 75px;
  font-weight: 700;
  font-size: 22px;
  line-height: 132%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: .2s;
}

.submit-btn:hover,
.footer-btn:hover {
  transform: scale(1.02);
}

.submit-btn:active,
.footer-btn:active {
  transform: scale(0.98);
}


.white-time p {
  color: #000;
}

.s12 .items div .tit {
  font-size: 18px;
  color: #FFAB1A;
}

.redBlock-title {
  font-size: 33px;
  line-height: 90%;
  padding-bottom: 10px;
  position: relative;
  z-index: 3;
}

.redBlock-text {
  position: relative;
  z-index: 3;
}

.redBlock-title span {
  font-size: 22px;
  color: #fff !important;
}

.s12 .items img {
  width: 140px;
  height: 150px;
  position: initial;
  margin-right: -25px;
}

.s12 .items {
  padding: 30px 25px;
  width: 100%;
}

.s12 .items div {
  width: 100%;
}

.img-price {
  margin-bottom: -57px;
  display: block;
  margin-top: 30px;
  position: relative;
  z-index: 9;
}

.img-price img {
  object-fit: contain;
  width: 345px;
  height: 100px;
  margin: 10px auto 20px auto;
  display: flex;
}

.redBlock {
  box-shadow: inset 0 0 27px 0 rgba(0, 0, 0, 0.31);
  background: linear-gradient(163deg, #36a312 0%, #124202 100%);
  position: relative;
  height: 191px;
}

.redBlock:after {
  content: "";
  display: block;
  width: 392px;
  height: 191px;
  padding: 10px;
  position: absolute;
  bottom: -20px;
  right: 0;
  background-image: url(../images/bonusFon-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

@media(max-width: 420px) {
  .s12 .items img {
    width: 120px;
    height: 133px;
    position: initial;
    margin-right: -25px;
  }

  .s12 .items p {
    font-size: 12px;
  }

  .s12 .items div .tit {
    font-size: 17px;
    color: #FFAB1A;
  }
}

.redBlock-button {
  font-size: 16px;
  line-height: 92%;
  margin: 10px auto 10px 0;
  border-radius: 12px;
  width: 120px;
  height: 32px;
  position: relative;
  z-index: 3;
}

.line-2 {
  max-width: 260px;
  padding-top: 10px;
}

@media(max-width: 380px) {
  .s12 .items img {
    width: 102px;
    height: 104px;
  }

  .s12 .items p {
    font-size: 12px;
  }

  .s12 .items div .tit {
    margin-bottom: 5px;
  }
}

@media(max-width: 360px) {

  .redBlock-title {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .redBlock-title span {
    font-size: 19px;
  }

  .redBlock-text {
    font-size: 12px;
  }

  .s12 .items img {
    width: 102px;
    height: 104px;
  }

  .s12 .items p {
    font-size: 11px;
  }

  .s12 .items div .tit {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.m6 {
  bottom: 34%;
}

@media (max-width: 380px) {
  .m6 {
    font-size: 17px !important;
    width: 105px;
    height: 49px;
    bottom: 37%;
    border-radius: 12px;
  }
}


@media(min-width: 630px) {
  .priceBlock {
    top: 305px;
  }
}

@media(min-width: 700px) {
  .s1 {
    min-height: auto;
    background-image: url(../images/fon-web.webp);
    background-size: 94%;
    background-position: bottom;
    padding-bottom: 3vw;
    padding-top: 4vw;
    margin: 0 6%;
  }

  .s1-wrap {
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: auto;
  }

  .s3 {
    margin-left: 9%;
    margin-right: 9%;
    background-image: url(../images/s3_bdn-d.webp);
  }

  .s3 .items {
    width: 24.02vw;
    height: 8.25vw;
    padding: 0.67vw 0.83vw 0.67vw 1.67vw;
    margin-bottom: 0.58vw;
  }

  .s1-header {
    padding: 0.7vw 3vw;
    border-radius: 2.4vw;
    display: flex;
    width: 83vw;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(3px);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 7%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.2);

  }

  .priceBlock h4:after {
    content: "";
    display: block;
    width: 8vw;
    height: 0.2vw;
    top: 0.6vw;
    left: 3vw;
    background: red;
}

  .top-line-wrapper {
    position: initial;
    width: auto;
  }

  .s1-header-timer {
    display: flex;
    align-items: center;
    gap: .4vw;
  }

  .s1-header-timer-item {
    border-radius: 7.24vw;
    width: 4.92vw;
    height: 3.4vw;
    background: linear-gradient(180deg, #30b005 0%, #114200 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s1-header-timer-item p {
    font-size: 0.72vw;
    line-height: 100%;
    text-align: center;
    color: #fff;
  }

  .s1-header-timer-item h3 {
    font-weight: 400;
    font-size: 1.54vw;
    line-height: 100%;
    text-align: center;
    font-family: 'Bebas Neue';
    color: #fff;
  }

  .s1-header-button {
    display: block;
    box-shadow: inset 0 0.1vw 0.78vw 0 rgba(0, 0, 0, 0.16);
    background: linear-gradient(176deg, #ff4000 0%, #ff5e00 100%);
    border-radius: 4.27vw;
    width: 18.72vw;
    height: 3.4vw;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    font-size: 1.28vw;
    gap: 0.3vw;
    justify-content: center;
    flex-direction: column;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .s1-header-button span {
    font-weight: 600;
    font-size: 0.82vw;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .s3 .items img {
    width: 3vw;
    height: 4vw;
    object-fit: contain;
  }

  .s3 .items:nth-child(1) img {
    width: 3.2vw;
    height: 4.4vw;
  }

  .accordion .title_block .num {
    font-size: 1.5vw;
  }

  .accordion .title_block div:last-child {
    font-size: 1.6vw;
  }

  .contacts,
  .s11 {
    margin: 0 9%;
  }

  .accordion .title_block:before {
    width: 1vw;
    height: 1vw;
  }

  .s8 .container {
    padding: 3% 10%;
  }

  .s8 .items p {
    font-size: 1.5vw;
  }

  .s8 .items {
    padding: 1.3vw 2.5vw;
    border-radius: 5vw;
  }

  .s8 .items:nth-child(4) img {
    width: 8vw;
  }

  .s8 .items:nth-child(3),
  .s8 .items:nth-child(4) {
    padding: 0vw 2.5vw;
  }

  .tablet-img {
    position: initial;
  }

  .tabletBlockcontent {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 65vw;
  }

  .priceBlock h4:after {
    left: 3vw;
  }

  #menu {
    display: none;
  }

  .tabletBlock-items-tem p {
    font-size: 1.53vw;
  }

  .tabletBlock-items-tem img {
    width: 5.17vw;
    height: 5.17vw;
  }

  .tablet-img {
    width: 24.25vw;
    height: 20.25vw;
  }

  .tabletBlock h2 {
    padding-bottom: 0;
    margin-top: 5%;
  }

  .s8 {
    margin: 4vw auto 0 auto;
    max-width: 80vw;
    border-radius: 9vw;
  }

  .s3 .items p {
    width: 75%;
    font-size: 1.3vw;
  }

  .dfdk {
    display: none;
  }

  .s3-w {
    padding: 7vw 15px;
  }

  .s3 .content {
    display: flex;
    align-items: center;
    width: 60%;
  }

  body {
    max-width: 100%;
  }

  .title-img {
    position: initial;
    padding-top: 10%;
  }

  .priceBlock {
    top: 7vw;
    left: 40vw;
    transform: scale(0.8);
  }

  .priceBlock h4:after {
    content: "";
    display: block;
    width: 81px;
    height: 2px;
    top: 7px;
    left: 17px;
    background: red;
    position: absolute;
  }

  .priceBlock-top {
    width: 14vw;
    /* 20 × 0.7 */
    height: 8.31vw;
    /* 11.87 × 0.7 */
    padding-left: 1.75vw;
    /* 2.5 × 0.7 */
  }

  .priceBlock-top h3 {
    font-size: 1.13vw;
    /* 1.62 × 0.7 */
  }

  .priceBlock-top h2 {
    font-size: 3.85vw;
    /* 5.5 × 0.7 */
  }

  .priceBlock h4 {
    white-space: nowrap;
    padding-left: 3.93vw;
    /* 5.62 × 0.7 */
    font-size: 2.45vw;
    /* 3.5 × 0.7 */
    margin-top: -0.88vw;
    /* -1.25 × 0.7 */
  }

  .priceBlock h4:after {
    width: 7.08vw;
    /* 10.12 × 0.7 */
    height: 0.175vw;
    /* 0.25 × 0.7 */
    top: 0.61vw;
    /* 0.87 × 0.7 */
    left: 3.33vw;
    /* 4.75 × 0.7 */
  }


  .submit-btn {
    font-size: 2.825vw;
    border-radius: 16.25vw;
    width: 35.75vw;
    /* 75px -> 9.375vw */
    height: 7.375vw;
    padding: 0 3.25vw 0 0;
  }

  .button-ring {
    width: 10vw;
    height: 10vw;
    top: -1.35vw;
    right: -3.625vw;
  }

  .button-ring p {
    font-size: 2.5vw;
  }

  .button-ring::before {
    width: 10vw;
    height: 10vw;
  }

  .s2-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.136vw;
    padding-bottom: 1.6vw;
    max-width: 77vw;
    margin: 0 auto;
  }

  .s2 .item {
    padding: 4.48vw;
    border-radius: 2.28vw;
    width: 37.8vw;
    height: 14.568vw;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .s2 .item:nth-child(1) p {
    padding-right: 40%;
  }

  .s2 .item:nth-child(2) p {
    padding-left: 52%;
  }

  .s2 .item:nth-child(3) p {
    padding-right: 32%;
  }

  .s2 .item:nth-child(4) p {
    padding-left: 40%;
  }

  .s2 .item:nth-child(5) p {
    padding-right: 40%;
  }

  .s2 .item:nth-child(6) p {
    padding-left: 40%;
  }


  .s2 .item:nth-child(3) {
    order: 6;
  }

  .s2 .item:nth-child(6) {
    order: 5;
  }


  .s2 .it1 img {
    width: 14.48vw;
    object-fit: contain;
  }

  .s2 .it3 img {
    width: 13.28vw;
    bottom: 22%;
    object-fit: contain;
  }

  .s2 .it2 img {
    width: 12.28vw;
    margin-right: -1.6vw;
    object-fit: contain;
  }

  .s2 .it5 img {
    width: 16.424vw;
    object-fit: contain;
  }

  .s2 .it4 img {
    width: 14.356vw;
    object-fit: contain;
  }

  .s2 .it6 img {
    width: 15.036vw;
    margin-left: -1.6vw;
    object-fit: contain;
  }

  .s2 .item p {
    width: 100%;
    margin: 0;
    font-size: 1.324vw;
  }

  .br-6m {
    display: none;
  }

  .s2 h2,
  h2 {
    font-size: 4.71vw;
  }

  .line-2 {
    padding-top: 2vw;
    max-width: 39.75vw;
    margin-left: 3vw;
  }


  .top-line-wrapper {
    top: 1%;
  }

  .s12-new {
    padding: 4vw 0;
  }

  .s12-new-elements-box,
  .s12-new-elements {
    flex-direction: row;
    gap: 1.136vw;
  }

  .s2 .item img {
    max-width: 100%;
  }

  .money14 {
    width: 50vw;
  }

  .s10 {
    margin-top: 3%;
    margin-bottom: 6%;
  }

  .s12-new-elements-item {
    width: 22.968vw;
    min-height: 20.68vw;
    padding: 1.136vw 0 1.136vw 0;
  }

  .s12-new-elements-item:nth-child(3) {
    margin-top: 0;
  }

  .s12-new-elements-item:nth-child(3):after {
    content: "";
    display: block;
    width: 6.856vw;
    height: 6.856vw;
    margin-bottom: -1.368vw;
    top: 37%;
    right: 34.5vw;
    position: absolute;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .plus {
    left: 34.5vw;
    width: 6.856vw;
    margin-bottom: -1.368vw;
    height: 6.856vw;
  }

  .s12-6-m {
    display: none;
  }

  .s12-new-elements-item h3 {
    font-size: 1.856vw !important;
  }

  .s12-new-elements-item p {
    font-size: 1.6vw;
  }

  .redBlock {
    height: 21.02vw;
    border-radius: 2.04vw;
    min-width: 48.68vw;
    padding: 2vw 2.86vw;
    margin-bottom: 1.6vw;
    overflow: hidden;
  }

  .redBlock:after {
    width: 51.2vw;
    height: 22.72vw;
    background-image: url(../images/bonusFon-4.webp);
  }

  .redBlock-title {
    font-size: 3.77vw;
    padding-bottom: 1.14vw;
  }

  .redBlock-title span {
    font-size: 2.76vw;
  }

  .redBlock-text {
    font-size: 1.6vw;
  }

  .redBlock-button {
    font-size: 1.82vw;
    margin: 1.14vw auto 1.14vw 0;
    border-radius: 0.65vw;
    width: 13.71vw;
    height: 3.66vw;
    padding: 0 1.71vw;
    gap: 1.14vw;
  }

  .accordion .info p {
    font-size: 1.3vw;
  }

  .s4-m-img {
    display: none;
  }

  .s4-d-img {
    display: block;
  }

  .s4 {
    background: linear-gradient(176deg, #ff4000 0%, #ff8400 100%);
    padding: 1.25vw 0;
    margin: 0 auto;
    max-width: 75vw;
    border-radius: 8.33vw 8.33vw 0 0;
  }

  .s4 h2+p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .s4-t {
    font-size: 2vw !important;
  }

  .s4 p {
    font-size: 1.4vw;
  }

  .s4 ul {
    padding-left: 1.25vw;
    display: flex;
    gap: 7%;
  }

  .s4 .info {
    border-radius: 2.5vw;
    background: #FFF;
    padding: 1.25vw 3.33vw;
    margin-top: 1.25vw;
  }

  .img-price {
    display: none;
  }

  .tabletBlock {}

  .s3 {}

  .s4 li {
    font-size: 1.3vw;
  }

  .s5 {
    margin-top: -3vw;
    border-radius: 3.5vw;
    padding: 3.33vw 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
  }

  .s5 .container {
    padding: 0 4.17vw;
  }

  .s5 p {
    font-size: 1.2vw;
  }


  .top-line {
    max-width: 32.025vw;
    gap: 0.4375vw;
    height: 3.4125vw;
    border-radius: 1.75vw;
  }

  .top-line-left {
    font-size: 1.05vw;
    letter-spacing: 0.077em;
    width: 14vw;
    height: 3.4125vw;
    border-radius: 1.75vw;
  }

  .top-line-right {
    font-size: 1.05vw;
    letter-spacing: 0.077em;
    padding-right: 0.875vw;
  }


}


@media(min-width: 1124px) {
  .priceBlock {
    top: 13%;
    left: 41vw;
  }
}